[Desktop Entry]
Version=1.0
Type=Application
Exec=AppImageLauncherSettings %f
Name=AppImageLauncher Settings
Name[de]=AppImageLauncher-Einstellungen
Name[ko]=AppImageLauncher 설정
Comment=Change settings for AppImageLauncher
Comment[de]=Einstellungen für AppImageLauncher ändern
Comment[ko]=AppImageLauncher의 설정 변경
Icon=AppImageLauncher
Terminal=false
Categories=Utility;Settings;DesktopSettings;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
X-AppImage-Integrate=false
StartupWMClass=AppImageLauncher
